@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* FONTS */
  --font-primary: "Montserrat", sans-serif;

  /* COLORS */
  --main-color: #ff4d4d;
  --darkMain-color: #ff4d4d33;
  --white-color: #e8e8e8;
  --gray-color: #a7a7a7;
  --secondary-gray: #3d3d3d;
  --darkGrey-color: #3a3a3a;
  --lightGrey-color: #2d2d2d;
}

@theme {
  /* FONTS */
  --font-family-primary: "Montserrat", sans-serif;

  /* COLORS */
  --color-primary: #ff4d4d;
  --color-primary-muted: #ff4d4d33;
  --color-primary-deep: #1f0d0d;

  --color-bg-base: #121212;
  --color-bg-raised: #2d2d2d;
  --color-bg-elevated: #3a3a3a;
  --color-bg-overlay: #3d3d3d;

  --color-text-primary: #e8e8e8;
  --color-text-secondary: #a7a7a7;
  --color-text-tertiary: #9ca3af;
  --color-text-disabled: #646464;

  --color-badge: #b6b6b533;
  --color-gradient-grey: #363636;
}

body {
  font-family: var(--font-primary);
}
